.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  border-top: 1px solid rgb(255, 120, 10);
}

.container {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10rem;
  /* border: 5px solid rgb(255, 0, 0); */
}

.container form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1rem;
  gap: 10px;
  /* border: 5px solid red; */
}

.container .imageLogin img {
  width: 30rem;
  height: 10rem;
}

